# my random scripts
ignore/

# ignoring tooling
.clj-kondo/*
.clj-kondo/.cache/
# except kondo config
!.clj-kondo/config.edn
.calva/
.lsp/
.cpcache/
.lein-failures

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
